.product-list {
    flex: 0 0 45%;
    gap:1rem;

    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product-list .product-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 1rem;
    max-height: 70vh;
    overflow-y: auto; 
}